body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

/* global*/

button {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

h2, h3, h4 {
    margin: 0;
}

h3 {
    color: white;
}

.overlay-style {
    background-color: darkslategrey;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: none;
    overflow: hidden;
}

.overlay-menu {
    top: 76px;
}

.confirmation-overlay {
    z-index: 12;
}

/* header*/

header {
    display: flex;
    color: white;
    background-color: #353535;
    padding: 20px;
}

header span {
    background-color: white;
    height: 3px;
    width: 25px;
    margin-bottom: 4px;
}

header .hamburger-menu {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 7px;
}

header .hamburger-menu:hover {
    cursor: pointer;
}

header .hamburger {
    background-color: #3c6e71;
    width: 0%;
    position: absolute;
    top: 76px;
    right: 0;
    height: 100%;
    left: 100%;
    transition: left 0.5s ease-in-out, width 0.5s ease-in-out;
    overflow: hidden;
    z-index: 2;
}

header li {
    margin-top: 20px;
}

header ul {
    padding: 15px;
}

header a:hover {
    color: #d9d9d9;
}

.navbar {
    display: none;
}

/* showcase*/

.showcase {
    background-image: url('./Img/showcase.jpg');
    background-size: cover;
    text-align: center;
    padding: 35px;
}

.showcase h3 {
    margin: 0;
    text-align: center;
}

.showcase .showcase-title {
    background-color: #3c6e71;
    padding: 20px;
    width: 30%;
    color: white;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}


/* info */
.info  div {
    background-color: #353535;
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info p {
    color: #d9d9d9;
}

/* Link register */
.link-register {
    background-color: #3c6e71;
    color: white;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 60px;
}

.link-register a {
    background-color: #353535;
    padding: 10px;
    color: white;
    font-size: 1.1rem;
}

.link-register a:hover {
    background-color: darkslategrey;
    cursor: pointer;
}

/* Register */
.register {
    background-color: #3c6e71;
    color: white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 100%;
}


.register label {
    margin-bottom: 10px;
}

.register h3 {
    margin-bottom: 20px;
}

.register input {
    padding: 10px 5px;
    outline: none;
    background-color: #353535;
    border: none;
    color: white;
}

.register a {
    background-color: #353535;
    padding: 10px;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.register a:hover {
    background-color: darkslategrey;
    cursor: pointer;
}

/* user-navbar */
.user-navbar {
    background-color: #3c6e71;
}

.user-navbar a {
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    width: 100%;
    text-align: center;
}

.user-navbar a:hover {
    color: lightgray;
    cursor: pointer;
}

.user-navbar {
    display: flex;
    margin: 0;
    align-content: center;
    justify-content: center;
}

.current {
    background-color: #353535;
}

/* Interfaz de rutinas */
.set-container, .set-container-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.set-container input, .set-container span, .set-container button {
    width: 50px;
    outline: none;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.set-container span, .set-container input {
    text-align: center;
    color: black;
}

.set-container-header h4 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 50px;
    color: white;
}

.set-container span {
    font-weight: bold;
    color: darkslategray;
}

.set-container-header h4 {
    width: 50px;
}

.add-set-btn {
    background-color: #353535;
    width: 100%;
    color: white;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    grid-column: 2 / 5;
}

.add-set-btn:hover {
    cursor: pointer;
    background-color: darkslategray;
}

.dlt-excercise-btn {
    background-color: #353535;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 70%;
    height: 30%;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 50px;
}



.dlt-excercise-btn:hover {
    cursor: pointer;
    background-color: darkslategray;
}

.delete-set {
    background-color: lightgray;
    color: darkslategrey;
    padding: 5px;
    border-radius: 5px;
    width: 50%;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.delete-set:hover {
    background-color: lightseagreen;
    cursor: pointer;
}

.button-blue-width-style {
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #353535;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.blue-style-btn {
    background-color: #3c6e71;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.blue-style-btn:hover {
    background-color: lightseagreen;
    cursor: pointer;
}

.cancel-btn {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-left: auto;
}

.cancel-btn:hover {
    background-color: tomato;
    cursor: pointer;
}

.button-blue-width-style:hover {
    cursor: pointer;
    background-color: darkslategray;
}

/* Entrenamiento rápido */
.fast-train {
    margin-top: 40px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}


.fast-train-btns, .routine-train-btns {
    display: flex;
    flex-direction: column;
}


.fast-train-headers, .routine-train-headers {
    display: flex;
}

.fast-train-headers {
    margin-bottom: 30px;
}

.fast-train-excercises-grid {
    margin-bottom: 30px;
}

.fast-train-excercises-grid {
    margin-top: 30px;
    color: rebeccapurple;
}

.fast-train-component h4, .modal-excercises h4 {
    text-align: center;
    color: white;
}

/* Confirmación de entrenamiento rápido */
.confirm-fast-train {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    max-width: 300px;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 200ms ease-in-out;
    z-index: 15;
    background-color: #3c6e71;
    padding: 30px;
    border-radius: 10px;
    height: 200px;
}


.name-for-routine {
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #3c6e71;
    border: none;
    font-size: 1.4rem;
    outline: none;
    color: white;
}

.confirmation-btn {
    background-color: #353535;
    border-radius: 5px;
    padding: 15px;
    color: white;
    margin-right: 20px;
}

.confirmation-btn:hover {
    cursor: pointer;
    background-color: darkslategrey;
}

.confirmation-btn-container {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.save-fast-train-routine {
    display: none;
}

/* Crear Rutinas */
.rutinas {
    margin-top: 50px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

#cancel-routine-creator {
    width: 15%;
    margin-right: auto;
    background-color: #3c6e71;
    color: white;
    background-color: red;
}

#cancel-routine-creator:hover {
    background-color: tomato;
}

#create-routine-btn-modal {
    margin-left: 60%;
    background-color: #353535;
}

#create-routine-btn-modal:hover {
    background-color: darkslategray;
}

.rutinas-header {
    display: flex;
}

#add-excercise-routine-creator {
    width: 100%;
}

.rutinas-header button {
    margin-left: 30px;
}


.rutinas h4 {
    margin-top: 30px;
}

.routines-modal, .fast-train-component, .open-routine, .select-exercise, .edit-routine {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 65%;
    max-width: 400px;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 200ms ease-in-out;
    z-index: 10;
    background-color: #3c6e71;
    padding: 30px;
    border-radius: 10px;
    height: 500px;
    overflow-y: auto;
}

/* Rutinas */
.routine-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.routine-container div {
    background-color: lightgray;
    width: 70%;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.routine-container h4 {
    margin-bottom: 10px;
    color: black;
}

.routine-container div button {
    width: 100%;
}

.routine-container ul {
    font-weight: bold;
    color: darkslategray;
}

.routine-container li {
    list-style: disc;
}

/* Ejercicios */

.exercises-block {
    background-color: #353535;
    color: white;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.exercises-block h3 {
    margin-bottom: 10px;
}

.search {
    display: flex;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search input {
    background-color: lightgray;
    border: none;
    outline: none;
    padding: 10px 5px;
    border-radius: 5px;
    margin-left: 10px;
}

.search select {
    margin-left: 20px;
    outline: none;
    border: none;
    background-color: lightgray;
    padding: 10px 5px;
    border-radius: 5px;
    color: darkslategray;
}

.search option {
    color: darkslategray;
}

.muscle-span {
    background-color: lightgray;
    color: darkslategray;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

/* Select exercise*/
.select-exercise {
    background-color: gray;
}

.select-exercise-header {
    display: flex;
    margin-bottom: 20px;
}

/* Routine Trainer */
.routine-train-headers {
    margin-bottom: 30px;
    color: white;
}

/* edit routines */
.routine-display-headers {
    display: flex;
}

.edit-btn {
    background-color: teal;
    color: white;
    top: 0px;
    left: 0;
    position: absolute;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
}

.edit-btn:hover {
    background-color: lightseagreen;
    cursor: pointer;
}

.routine-display-container {
    position: relative;
}

.routine-edit-headers {
    display: flex;
    color: white;
}

.edit-routine input[type= "text"] {
    background-color: #353535;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    outline: none;
}

#input-title-routine {
    background-color: lightseagreen;
}

#delete-routine {
    padding: 10px;
    margin-left: 15%;
}



/* Media Queries */
@media (min-width: 600px) {

    /* navabar */
    .navbar {
        display: flex;
        width: 80%;
        margin: 0;
    }

    .navbar ul {
        display: flex;
        margin: 0;
    }

    .navbar .login {
        margin-left: auto;
        color: black;
    }
    
    .navbar li {
        margin: 0;
        margin-left: 20px;
    }

    header .hamburger-menu {
        display: none;
    }

    header h2 {
        margin-top: 8px;
        margin-right: 20px;
    }

    /* showcase */
    .showcase {
        padding: 200px;
    }

    /* Register */
    .form-flex {
        display: flex;
    }

}

@media (min-width: 768px) {
    /* Info */
    .info {
        display: flex;
    }

    /* register */
    .register {
        width: 50%;
    }
}

